In [17]:
import math 
squares = [4, 9, 16, 25]
for i in squares:
    x=math.sqrt(i)
    print(x)

2.0
3.0
4.0
5.0

In [2]:
squares = [4, 9, 16, 25]
squares.extend([49,64,81])
print(squares)

[4, 9, 16, 25, 49, 64, 81]

In [1]:
squares=[4,9,16,25,36,49,64,81]
squares.remove(49)
print(squares)
squares.remove(3)

[4, 9, 16, 25, 36, 64, 81]

ValueError: list.remove(x): x not in list

In [17]:
LIST=[1,2,3,1,1]
LIST.remove(2)
print(LIST)

[1, 3, 1, 1]

In [21]:
squares=[4,9,16,25,36,49,64,81]
squares.pop()

81

In [22]:
squares=[4,9,16,25,36,49,64,81]
squares.pop(0)

4

In [32]:
names = [ "Eric", "anna", "Sophie", "sam" ]
names.sort()
print(names)
names.sort(key=lambda n: str.upper(n))
print(names)

['Eric', 'Sophie', 'anna', 'sam']
['anna', 'Eric', 'sam', 'Sophie']

In [35]:
names = [ "Eric", "anna", "Sophie", "sam" ]
names.reverse()
print(names)

['sam', 'Sophie', 'anna', 'Eric']

In [37]:
colours = ["red", "green", "yellow", "blue", "red"]
colours.index("blue")

3

In [41]:
colours = ["red", "green", "yellow", "blue", "red"]
copy_colours=colours.copy()
print(copy_colours)
colours.append("yellow")
print(colours)

['red', 'green', 'yellow', 'blue', 'red']
['red', 'green', 'yellow', 'blue', 'red', 'yellow']

In [43]:
cubes=[x*x*x for x in range(2,21)]
print(cubes)

[8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

In [53]:
some_users = [u for u in list if len(u) < 8]

In [60]:
address=(6 ,"NAIKAP" ,44600)
type(address)
print(address)

(6, 'NAIKAP', 44600)

In [62]:
sushan=("hellow",)
type(sushan)

tuple

In [63]:
address=(6 ,"NAIKAP" ,44600)
type(address)
print(address)
house_num,street,postcode=address

(6, 'NAIKAP', 44600)

In [68]:
address=(6 ,"NAIKAP" ,44600)
for i in tuple(*address):
    print(i)

TypeError: tuple expected at most 1 argument, got 3